body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  html, body {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    width: 100%;
}

.index-loading {
    color: black;
    font: 300 4em/150% Impact;
    text-align: center;
    font-size: 2em;
}

.index-loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

.index-info {
    color: black;
    text-align: center;
    font-size: 1em;
    position: fixed;
    bottom: 5em;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }

    40% {
        color: black;
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }

    60% {
        text-shadow: .25em 0 0 black, .5em 0 0 rgba(0,0,0,0);
    }

    80%, 100% {
        text-shadow: .25em 0 0 black, .5em 0 0 black;
    }
}
  